h1{
    color: blue;
    text-align: center;
}
h3, h5{
    color: greenyellow;
    font-style: italic;
    text-indent: 20%;
}
*,p,br{
    font-family: sans-serif;
    text-indent: 20px;
    
}
ul{
    line-height: 50px;
}